.footer {
  margin: 100px auto;

  &__links {
    border-top: 2px solid #6e774a;
    padding-top: 90px;
    a {
      display: block;
      font-size: 1.4rem;
      letter-spacing: 4px;
      line-height: 40px;
      color: #6e774a;
      font-weight: 300;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &__main {
    margin-top: -3rem;
    text-align: center;
  }

  &__vline {
    width: 2px;
    height: 55px;
    background-color: #6e774a;
    margin: 40px auto;
  }

  &__title {
    font-size: 6rem;
    line-height: 55px;
    color: #6e774a;
    font-weight: 400;
  }

  &__socials {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 60px;
    @include flex(row, space-between, center);
  }


  .icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    &-fb {background-image: url('../img/Facebook.png');}
    &-tw {background-image: url('../img/Twitter.png');}
    &-yt {background-image: url('../img/YouTube.png');}
  }






  .form {
    &__title {
      font-size: 18px;
      letter-spacing: 3px;
      color: #1c1c1b;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    &__input {
      padding: 20px;
      font-size: 16px;
      letter-spacing: 4px;
      color: #6e774a;
      font-weight: 300;
      border: 2px solid #ced6af;
    }

    &__button {
      padding: 20px;
      font-size: 16px;
      letter-spacing: 4px;
      color: #6e774a;
      font-weight: 300;
      border: 2px solid #ced6af;
      background: 0;
      outline: 0;
    }
  }
}