.testimonials {
  width: 100%;
  height: 100vh;
  background: url('../img/testimonials_img.png');
  background-size: cover;
  position: relative;

  .container {
    height: 100%;
    @include flex(column, center, center);
  }

  &__sidetext {
    position: absolute;
    transform: rotate(90deg);
    bottom: 180px;
    left: 0px;
    font-size: 24px;
    letter-spacing: 7px;
    color: #f7f8f3;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    button {
      border: 1px solid #f7f8f3;
      outline: 0;
      background: 0;
      color: #f7f8f3;
      margin: -2px;
      width: 130px;
      height: 100px;
      font-size: 30px;
    }
  }

  .feedback {
    &__rate {
      font-size: 30px;
      line-height: 60px;
      text-align: center;
      color: #a9b383;
    }
    &__content {
      font-size: 22px;
      letter-spacing: 4px;
      line-height: 40px;
      color: #ffffff;
      font-weight: 300;
      text-align: center;
      max-width: 750px;
    }
    &__author {
      font-size: 24px;
      letter-spacing: 5px;
      line-height: 75px;
      color: #ffffff;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      &::before {
        content: '----------';
        margin-right: 10px;
        letter-spacing: -3px;
        font-weight: 300;
      }
    }
  }
}